<div class="container">
	<div class="row">
		<div class="col-12">
			<form class="mytable" [formGroup]="formData" (ngSubmit)="createTask(formData); formData.reset()">
				<div class="form-group">
					<label for="name">UserName:</label>
					<input type="text" class="form-control" placeholder="Введите имя" formControlName="username" required>
					<div *ngIf="formData.controls['username'].touched && !formData.controls['username'].valid">
						<span *ngIf="formData.controls['username'].hasError('required') ">
							First name is required
						</span>
						<span *ngIf="formData.controls['username'].hasError('minlength') ">
							Min length is 5
						</span>
						<span *ngIf="formData.controls['username'].hasError('maxlength') ">
							max length is 20
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" placeholder="Введите email" formControlName="email" required>
					<div *ngIf="formData.controls['email'].touched && !formData.controls['email'].valid">
						<span *ngIf="formData.hasError('email', 'email') && formData.get('email').touched">
							email must be looks like mail@gmail.com
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="text">text task:</label>
					<textarea class="form-control" placeholder="Введите текст" formControlName="text"></textarea>
				</div>
				<div class="form-group">
					<label for="file">Image</label>
					<input (change)="uploadfile($event.target.files)" formControlName="image" type="file" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary" [disabled]='!formData.valid'>Добавить</button>
			</form>
		</div>
	</div>
</div>