<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login(loginForm)">
				<div class="alert alert-primary">
					<p>
						User:
						<b>admin</b>
					</p>
					<p>
						Password:
						<b>123</b>
					</p>
				</div>
				<div class="alert alert-danger" role="alert" *ngIf="showErrorMessage && loginForm.submitted">
					Wrong credentials!
				</div>
				<label for="inputEmail" class="sr-only">User</label>
				<input type="user" id="inputEmail" class="form-control" placeholder="User" name="user" required autofocus ngModel>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required ngModel>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>

			<app-form></app-form>

			<app-table></app-table>
		</div>
	</div>
</div>